{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="p-5 rounded">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
        {% for board in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        Board_id:{{ board.id }}
                    <div class="alert alert-primary" role="alert">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for location in board.locations.all %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="{% static 'images/'|add:location.name|add:'.jpg' %}" alt="germany"
                                        class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" />
                                    <div class="card-body">
                                        <p class="card-text">
                                            {% for loc_name in loc_name_list %}
                                                {% if loc_name.loc_eng == location.name%}
                                                {{ loc_name.temperature }}℃|
                                                {{ loc_name.humidity }}%
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">{{location.name}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                        </p>
                        <div class="btn-group">
                            <a href='{% url "deleteBoard" board.id %}'
                                class="btn btn-danger btn-sm w-100">
                                Delete
                            </a>
                        </div>
                        <small class="text-body-secondary"></small>
                    </div>
                </div>
            </div>
        </div>{% empty %}
        <div class="alert alert-primary" role="alert">
            You haven't created any boards yet, go <a href="/createWeatherBoard">create them</a> now!
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}